@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Muli');


body {
  background: #f1f1f1;
  font-family: 'Varela Round', sans-serif;
  /* padding:50px; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.App {
  background:white;
}

.header {
  background: rgba(37,184,164,1);
  background: -moz-linear-gradient(left, rgba(37,184,164,1) 0%, rgba(168,240,226,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37,184,164,1)), color-stop(100%, rgba(168,240,226,1)));
  background: -webkit-linear-gradient(left, rgba(37,184,164,1) 0%, rgba(168,240,226,1) 100%);
  background: -o-linear-gradient(left, rgba(37,184,164,1) 0%, rgba(168,240,226,1) 100%);
  background: -ms-linear-gradient(left, rgba(37,184,164,1) 0%, rgba(168,240,226,1) 100%);
  background: linear-gradient(to right, rgba(37,184,164,1) 0%, rgba(168,240,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b8a4', endColorstr='#a8f0e2', GradientType=1 );
  height: 69px;

}

.header--title {
  width: 200px;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 50px;
  text-align: center;
}

.container {
  background:white;
  display: flex;
  justify-content: center;
  padding: 5em;
  /* box-shadow: 1px 1px 0 lightgrey; */
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .market, .marketcap {
    display: none;
  }

  .header {
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  }

  .header--title {
    padding-left: 0px;
  }
}

.crypto-table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.text-right, .marketcap {
  text-align: right!important;
}

span.crypto {
  font-weight: bold;
}

.dollar {
  float:right;
  display: block;
}

.euro {
  float: right;
  display: none;
}

.crypto-table td, .crypto-table th {
  vertical-align: inherit !important;
}
.crypto-table td, .crypto-table th {
  padding: .75rem;
  vertical-align: top;
}

tr {
  border: 1px solid #e9ecef;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
}

thead {
  color: grey;
}

.crypto-header {
  font-weight: 100;
}

tbody {
  font-family: 'Muli', sans-serif;

}

th {
  text-align: left;
}